repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.6
    hooks:
      - id: uv-sync
        args: ["--all-packages"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  #  Install the configuration into the git hook through pre-commit:
  #  `pre-commit install --hook-type commit-msg`
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [pre-push]
